@import "tailwindcss";

@plugin "daisyui" {
    themes: valentine --default;
}

.yesteryear {
    font-family: "Yesteryear", cursive;
    font-weight: 400;
    font-style: normal;
}

.cookie-regular {
    font-family: "Cookie", cursive;
    font-weight: 400;
    font-style: normal;
}

.oswald-400 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.praise-regular {
    font-family: "Praise", cursive;
    font-weight: 400;
    font-style: normal;
}

.boogaloo-regular {
    font-family: "Boogaloo", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lily-script-one-regular {
    font-family: "Lily Script One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.miss-fajardose-regular {
    font-family: "Miss Fajardose", cursive;
    font-weight: 400;
    font-style: normal;
}
